[submodule "MyEssentials-Core"]
	path = MyEssentials-Core
	url = https://github.com/MyEssentials/MyEssentials-Core
[submodule "MyPermissions"]
	path = MyPermissions
	url = http://github.com/myessentials/MyPermissions
